name: Update VLESS

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:


jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python fetch_vless.py
      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add vless.txt
          git commit -m "auto update vless" || exit 0
          git push
